.mat-toolbar
{
    color: white;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 999;
}
.home
{
    span
    {
        font-size: 16px;
         padding: 0px 5px;
         margin-top:5px;
         
    }   
}
.home:hover
{
    color: rgb(16, 165, 16);
}
.active
{
    color: rgb(231, 121, 121);
}
.active1
{
    color: white;
}
#rotate1 {
    animation: rotation 1.5s infinite linear;
}
@-webkit-keyframes rotation {
    from {
                transform: rotate(0deg);
    }
    to {
                transform: rotate(359deg);
    }
}
@keyframes rotation {
    from {
                transform: rotate(0deg);
    }
    to {
                transform: rotate(359deg);
    }
}
.scroll2
{
      width: 100%;
      height: 100%;
      flex:1 1 auto;
      overflow-y: scroll;
      overflow-x: scroll;
}

.scroll2::-webkit-scrollbar 
{
      width: 10px;
}

.scroll2::-webkit-scrollbar-track 
{
      -webkit-box-shadow: inset 0 0 6px rgba(32, 31, 31, 0.767);
      box-shadow: inset 0 0 6px rgba(32, 31, 31, 0.767); 
      border-radius: 10px;
}

.scroll2::-webkit-scrollbar-thumb 
{
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(32, 31, 31, 0.767); 
      box-shadow: inset 0 0 6px rgba(32, 31, 31, 0.767); 
}
.spacer
{
    flex: 1 1 auto;
}

.mat-card{
    width: 300px;
    min-height: 200px;
    margin: auto auto;
    background:rgb(0, 217, 255);
    .title
    {
        text-align: center;
        font-size: 30px;
        color: red;
    }
    .info
    {
        text-align: center;
        font-size: 20px;
    }
    .out-btn
    {
        width: 100%;
        border-radius: 25px;
    }
}