<div class="title">{{isMachine ? 'Machine Detail': isInsurance ? 'Insurance Detail': isRoadTax ? 'Road Tax Detail': isPermit ? 'Permit Detail': 'Ooops Error'}}</div>
<mat-divider></mat-divider>
<ng-container *ngIf="isMachine">



<table mat-table [dataSource]="dataSource" class="mat-elevation-z8"  [border]="(isHandset$ | async) ? '1' : '0'" >

    
      <!-- Machine Id Column -->
      <ng-container matColumnDef="machinName">
        <th mat-header-cell *matHeaderCellDef> Machine </th>
        <td mat-cell *matCellDef="let element"> {{element.machinName}} </td>
      </ng-container>
    
      <!-- Total Hour Column -->
      <ng-container matColumnDef="totalHours">
        <th mat-header-cell *matHeaderCellDef>Total Hour </th>
        <td mat-cell *matCellDef="let element"> {{element.totalHours}}</td>
      </ng-container>

      <!-- Remain columns are for showing previous 7 days entry -->

      <ng-container matColumnDef="dailyHour">
        <th mat-header-cell *matHeaderCellDef> {{date(1) | date:['dd-MM-yyy']}} </th>
        <td mat-cell *matCellDef="let element;let i=index;">{{hour(i,1)}}</td>
      </ng-container>
    

      <ng-container matColumnDef="dailyHour2">
        <th mat-header-cell *matHeaderCellDef>{{date(2) | date:['dd-MM-yyy']}}</th>
        <td mat-cell *matCellDef="let element;let i=index;">{{hour(i,2)}}</td>
      </ng-container>


      <ng-container matColumnDef="dailyHour3">
        <th mat-header-cell *matHeaderCellDef>{{date(3) | date:['dd-MM-yyy']}}</th>
        <td mat-cell *matCellDef="let element;let i=index;">{{hour(i,3)}}</td>
      </ng-container>

      <ng-container matColumnDef="dailyHour4">
        <th mat-header-cell *matHeaderCellDef> {{date(4) | date:['dd-MM-yyy']}} </th>
        <td mat-cell *matCellDef="let element;let i=index;">{{hour(i,4)}}</td>
      </ng-container>

      <ng-container matColumnDef="dailyHour5" >
        <th mat-header-cell *matHeaderCellDef> {{date(5) | date:['dd-MM-yyy']}} </th>
        <td mat-cell *matCellDef="let element;let i=index;">{{hour(i,5)}}</td>
      </ng-container>

      <ng-container matColumnDef="dailyHour6" >
        <th mat-header-cell *matHeaderCellDef> {{date(6) | date:['dd-MM-yyy']}} </th>
        <td mat-cell *matCellDef="let element;let i=index;">{{hour(i,6)}}</td>
      </ng-container>

      <ng-container matColumnDef="dailyHour7">
        <th mat-header-cell *matHeaderCellDef > {{date(7) | date:['dd-MM-yyy']}} </th>
        <td mat-cell *matCellDef="let element;let i=index;">{{hour(i,7)}}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-container>
<!--/////////////////////////////////////////////////////////////////////////////////-->






<ng-container *ngIf="isInsurance">
    <div class="title2">Machine Details</div>
    <mat-divider></mat-divider>
  <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8"  [border]="(isHandset$ | async) ? '1' : '0'" >

    
    <!-- Machine Id Column -->
    <ng-container matColumnDef="machinName">
      <th mat-header-cell *matHeaderCellDef> Machine</th>
      <td mat-cell *matCellDef="let element"> {{element.machinName}} </td>
    </ng-container>
  
    <!-- Total Hour Column -->
    <ng-container matColumnDef="insurance">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.insurance[element.insurance.length-1].amount}}</td>
    </ng-container>

    <!-- Remain columns are for showing previous 7 days entry -->

    <ng-container matColumnDef="issue">
      <th mat-header-cell *matHeaderCellDef> Valid From </th>
      <td mat-cell *matCellDef="let element">{{giveDate(element.insurance[element.insurance.length-1].issueDate.seconds*1000) | date:['dd-MM-yyyy']}}</td>
    </ng-container>
  

    <ng-container matColumnDef="expire">
      <th mat-header-cell *matHeaderCellDef> Valid Till </th>
      <td mat-cell *matCellDef="let element">
        
          {{giveDate(element.insurance[element.insurance.length-1].expireDate.seconds*1000) | date:['dd-MM-yyyy']}}
        
      </td>
    </ng-container>


    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element">
        <span 
        [ngClass]="valid(element.insurance[element.insurance.length-1].expireDate.seconds*1000) ? 'expired': 'valid' "
        >
          {{valid(element.insurance[element.insurance.length-1].expireDate.seconds*1000) ? 'Expired' : 'Valid'}}
        </span>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
  </table>

  <div class="title2">Vehicle Details</div>
  <mat-divider></mat-divider>
  <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8"  [border]="(isHandset$ | async) ? '1' : '0'" >

    
      <!-- Machine Id Column -->
      <ng-container matColumnDef="vehicleName">
        <th mat-header-cell *matHeaderCellDef> Vehicle </th>
        <td mat-cell *matCellDef="let element"> {{element.vehicleNumber}} </td>
      </ng-container>
    
      <!-- Total Hour Column -->
      <ng-container matColumnDef="insurance">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.insurance[element.insurance.length-1].amount}}</td>
      </ng-container>
  
      <!-- Remain columns are for showing previous 7 days entry -->
  
      <ng-container matColumnDef="issue">
        <th mat-header-cell *matHeaderCellDef> Valid From </th>
        <td mat-cell *matCellDef="let element">{{giveDate(element.insurance[element.insurance.length-1].issueDate.seconds*1000) | date:['dd-MM-yyyy']}}</td>
      </ng-container>
    
  
      <ng-container matColumnDef="expire">
        <th mat-header-cell *matHeaderCellDef> Valid Till </th>
        <td mat-cell *matCellDef="let element">
          
            {{giveDate(element.insurance[element.insurance.length-1].expireDate.seconds*1000) | date:['dd-MM-yyyy']}}
          
        </td>
      </ng-container>
  
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">
          <span 
        [ngClass]="valid(element.insurance[element.insurance.length-1].expireDate.seconds*1000) ? 'expired': 'valid' "
        >
          {{valid(element.insurance[element.insurance.length-1].expireDate.seconds*1000) ? 'Expired' : 'Valid'}}
        </span>
        </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
    </table>
</ng-container>







<ng-container *ngIf="isPermit">
  <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8"  [border]="(isHandset$ | async) ? '1' : '0'" >

    
    <!-- Machine Id Column -->
    <ng-container matColumnDef="vehicleName">
      <th mat-header-cell *matHeaderCellDef> Vehicle </th>
      <td mat-cell *matCellDef="let element"> {{element.vehicleNumber}} </td>
    </ng-container>
  
    <!-- Total Hour Column -->
    <ng-container matColumnDef="insurance">
      <th mat-header-cell *matHeaderCellDef> Permit </th>
      <td mat-cell *matCellDef="let element"> {{element.permit[element.permit.length-1].type}}</td>
    </ng-container>

    <!-- Remain columns are for showing previous 7 days entry -->

    <ng-container matColumnDef="issue">
      <th mat-header-cell *matHeaderCellDef> Valid From </th>
      <td mat-cell *matCellDef="let element">{{giveDate(element.permit[element.permit.length-1].issueDate.seconds*1000) | date:['dd-MM-yyyy']}}</td>
    </ng-container>
  

    <ng-container matColumnDef="expire">
      <th mat-header-cell *matHeaderCellDef> Valid Till </th>
      <td mat-cell *matCellDef="let element">
        
          {{giveDate(element.permit[element.permit.length-1].expireDate.seconds*1000) | date:['dd-MM-yyyy']}}
        
      </td>
    </ng-container>


    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element">
        <span 
        [ngClass]="(valid(element.permit[element.permit.length-1].expireDate.seconds*1000)=='Expire Today') ? 'expireToday':
        (valid(element.permit[element.permit.length-1].expireDate.seconds*1000)=='Expired') ? 'expired' :
        (valid(element.permit[element.permit.length-1].expireDate.seconds*1000)=='Valid') ? 'valid' : ''"
        >
          {{valid(element.permit[element.permit.length-1].expireDate.seconds*1000)}}
        </span>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
  </table>
</ng-container>



<!-- ////////////// to do your work below for searching ///////////// -->
