<div class="title">{{isMachine ? 'Machine Running Hours Entry': isInsurance ? 'Insurance Entry': isPermit ? 'Permit Entry': 'Ooops Error'}}</div>
<mat-divider></mat-divider>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="isMachine">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="machinName">
      <th mat-header-cell *matHeaderCellDef class="start"> Machine</th>
      <td mat-cell *matCellDef="let element" class="start"> {{element.machinName}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="last">
      <th mat-header-cell *matHeaderCellDef class="center">Last</th>
      <td mat-cell *matCellDef="let element;let i=index" class="center"> 
          <mat-form-field >
              <input matInput maxlength="5" [value]="val1(i)" id="{{i+'last'}}" (keypress)="numberOnly($event)" [readonly]="last" >
            </mat-form-field><br>
            <div class="gap">{{date11(i) | date:['dd-MM-yy']}}</div>
            
      </td>
      <td mat-footer-cell *matFooterCellDef class="center">
          <button mat-raised-button id="cancel" [color]="edit ? 'warn' : 'primary'" (click)="edit=!edit;last=!last;hide();" *ngIf="diff">{{edit ? 'Cancel':'Edit'}}</button> 
      </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="input" >
      <th mat-header-cell *matHeaderCellDef class="center"> {{today | date:['dd-MM-yyyy']}} </th>
      <td mat-cell *matCellDef="let element;let i=index;" class="center">
        <mat-form-field>
          <input matInput maxlength="5"  [value]="val(i)" id="{{i}}" (keypress)="numberOnly($event)" >
          <!--<input matInput placeholder="hours" [value]="val()" >-->
        </mat-form-field><br>
        <div class="gap" style="color:white;">.</div>
      </td>
      <td mat-footer-cell *matFooterCellDef class="center"> 
        <button mat-raised-button color="primary" (click)="checkValuesFirst();"  *ngIf="diff">Submit</button> 
      </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="250">
      <th mat-header-cell *matHeaderCellDef class="center">300 </th>
      <td mat-cell *matCellDef="let element; let i=index;" class="center">  
        <span [ngClass]="check2(i) ? 'green': 'red'">{{check2(i) ? 'Y' : 'N'}}</span><br>
      <ng-container *ngIf="admin">
        <button mat-mini-fab color="primary" *ngIf="!(check2(i))" (click)="twoFifty(element.$key,i)"><mat-icon>done</mat-icon></button>
      </ng-container>
      </td>
      <td mat-footer-cell *matFooterCellDef class="center"><button mat-raised-button color="primary" (click)="checkValues();" *ngIf="edit" >Update</button> </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="1K">
      <th mat-header-cell *matHeaderCellDef class="center"> 1,000 </th>
      <td mat-cell *matCellDef="let element; let i=index;" class="center"> 
        <span [ngClass]="check1(i) ? 'green': 'red'">{{check1(i) ? 'Y' : 'N'}}</span><br>
      <ng-container *ngIf="admin">
        <button mat-mini-fab color="primary" *ngIf="!(check1(i))" (click)="oneK(element.$key,i)"><mat-icon>done</mat-icon></button>
      </ng-container>
      </td>
      <td mat-footer-cell *matFooterCellDef class="center"></td>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="6K">
      <th mat-header-cell *matHeaderCellDef class="center"> 6,000 </th>
      <td mat-cell *matCellDef="let element; let i=index;" class="center"> 
        <span [ngClass]="check6(i) ? 'green': 'red'" class="center">{{check6(i) ? 'Y' : 'N'}}</span><br>
        <ng-container *ngIf="admin">
        <button mat-mini-fab color="primary" *ngIf="!(check6(i))" (click)="sixK(element.$key,i)" ><mat-icon>done</mat-icon></button>
      </ng-container>
      </td>
      <td mat-footer-cell *matFooterCellDef class="center"></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
 <!-- <div *ngIf="isMachine"><div  style="color: red;margin-left: 10px;margin-top: 10px;">
   Contact system administrater <br>to fill value of machine/s:
   <ul>
     <li *ngFor="let data of errorIn">{{data}}</li>
   </ul>
</div></div>  -->
<div *ngIf="isMachine"><div *ngIf="error1" style="color: red;margin-left: 10px;margin-top: 10px;">
    <!-- Contact system administrater <br>to fill blocked value of machine/s -->
    Contact system administrater <br>to fill value of machine/s:
    <ul>
      <li *ngFor="let data of errorIn">{{data}}</li>
    </ul>
 </div></div> 











 <ng-container *ngIf="isInsurance">
   <p style="text-align: center;color: red" *ngIf="!(admin)">You do not have permission to see content here</p>
   <ng-container *ngIf="admin">
  <div class="title2">Machine Details</div>
  <mat-divider></mat-divider>
<table mat-table [dataSource]="dataSource2" class="mat-elevation-z8"  [border]="(isHandset$ | async) ? '1' : '0'" >

  
  <!-- Machine Id Column -->
  <ng-container matColumnDef="machinName">
    <th mat-header-cell *matHeaderCellDef> Machine</th>
    <td mat-cell *matCellDef="let element"> {{element.machinName}} </td>
  </ng-container>

  <!-- Total Hour Column -->
  <ng-container matColumnDef="insurance">
    <th mat-header-cell *matHeaderCellDef> Amount </th>
    <td mat-cell *matCellDef="let element;let i=index;">
       <!-- {{element.permit[element.permit.length-1].type}} -->
       <span *ngIf="!(enable[i])">{{element.insurance[element.insurance.length-1].amount}}</span>
       <mat-form-field *ngIf="(enable[i])" class="small">
           <input matInput  id="{{i+'type'}}" (keypress)="numberOnly($event)" maxlength="7" [value]="!(valid(element.insurance[element.insurance.length-1].expireDate.seconds*1000)) ? element.insurance[element.insurance.length-1].amount:''">
       </mat-form-field><br>
       <ng-container *ngIf="!(valid(element.insurance[element.insurance.length-1].expireDate.seconds*1000))"> <span *ngIf="enable[i]">{{element.insurance[element.insurance.length-1].amount}}</span></ng-container>
    </td>
  </ng-container>

  <!-- Remain columns are for showing previous 7 days entry -->

  <ng-container matColumnDef="issue">
    <th mat-header-cell *matHeaderCellDef> Valid From </th>
    <td mat-cell *matCellDef="let element;let i=index;">
      <!-- {{giveDate2(element.permit[element.permit.length-1].issueDate.seconds*1000) | date:['dd-MM-yyyy']}} -->
      <span *ngIf="!(enable[i])">{{giveDate2(element.insurance[element.insurance.length-1].issueDate.seconds*1000) | date:['dd-MM-yyyy']}}</span>
        <mat-form-field *ngIf="enable[i]" class="big">
            <input matInput [formControl]="date2"  id="{{i+'from'}}"  [matDatepicker]="picker3" readonly [value]="''">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field><br>
          <ng-container *ngIf="!(valid(element.insurance[element.insurance.length-1].expireDate.seconds*1000))"> <span *ngIf="enable[i]">{{giveDate2(element.insurance[element.insurance.length-1].issueDate.seconds*1000) | date:['dd-MM-yyyy']}}</span></ng-container>
    </td>
  </ng-container>


  <ng-container matColumnDef="expire">
    <th mat-header-cell *matHeaderCellDef> Valid Till </th>
    <td mat-cell *matCellDef="let element;let i=index;">
      
        <!-- {{giveDate2(element.permit[element.permit.length-1].expireDate.seconds*1000) | date:['dd-MM-yyyy']}} -->
        <span *ngIf="!(enable[i])"> {{giveDate2(element.insurance[element.insurance.length-1].expireDate.seconds*1000) | date:['dd-MM-yyyy']}}</span>
        <mat-form-field *ngIf="enable[i]" class="big">
            <input matInput [formControl]="date2" readonly   [matDatepicker]="picker3" id="{{i+'till'}}" [value]="''" >
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field><br>
          <ng-container *ngIf="!(valid(element.insurance[element.insurance.length-1].expireDate.seconds*1000))"> <span *ngIf="enable[i]">{{giveDate2(element.insurance[element.insurance.length-1].expireDate.seconds*1000) | date:['dd-MM-yyyy']}}</span></ng-container>
    </td>
  </ng-container>


  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Change </th>
    <td mat-cell *matCellDef="let element;let i=index;">
        <button *ngIf="!(enable[i])" mat-raised-button (click)="enable[i]=!(enable[i])" [color]="valid(element.insurance[element.insurance.length-1].expireDate.seconds*1000) ? 'warn' : 'primary'" >
            {{valid(element.insurance[element.insurance.length-1].expireDate.seconds*1000) ? 'Renew' : 'Update'}}
        </button>
        <button *ngIf="(enable[i])" mat-mini-fab (click)="checkData(i,valid(element.insurance[element.insurance.length-1].expireDate.seconds*1000),element.$key,'mi')" color="primary">
            <mat-icon>done</mat-icon>
        </button>
        <button mat-mini-fab id="cancel" *ngIf="(enable[i])" color="warn" (click)="enable[i]=!(enable[i])"> <mat-icon>close</mat-icon> </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
</table>

<div class="title2">Vehicle Details</div>
<mat-divider></mat-divider>
<table mat-table [dataSource]="dataSource3" class="mat-elevation-z8"  [border]="(isHandset$ | async) ? '1' : '0'" >

  
    <!-- Machine Id Column -->
     <!-- Machine Id Column -->
     <ng-container matColumnDef="vehicleName">
      <th mat-header-cell *matHeaderCellDef> Vehicle </th>
      <td mat-cell *matCellDef="let element"> {{element.vehicleNumber}} </td>
    </ng-container>
  
    <!-- Total Hour Column -->
    <ng-container matColumnDef="insurance">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element;let i=index;">
         <!-- {{element.permit[element.permit.length-1].type}} -->
         <span *ngIf="!(enable2[i])">{{element.insurance[element.insurance.length-1].amount}}</span>
         <mat-form-field *ngIf="(enable2[i])" class="small">
             <input matInput  id="{{i+'type'}}" (keypress)="numberOnly($event)" maxlength="7" [value]="!(valid(element.insurance[element.insurance.length-1].expireDate.seconds*1000)) ? element.insurance[element.insurance.length-1].amount:''">
         </mat-form-field><br>
         <ng-container *ngIf="!(valid(element.insurance[element.insurance.length-1].expireDate.seconds*1000))"> <span *ngIf="enable2[i]">{{element.insurance[element.insurance.length-1].amount}}</span></ng-container>
      </td>
    </ng-container>

    <!-- Remain columns are for showing previous 7 days entry -->

    <ng-container matColumnDef="issue">
      <th mat-header-cell *matHeaderCellDef> Valid From </th>
      <td mat-cell *matCellDef="let element;let i=index;">
        <!-- {{giveDate2(element.permit[element.permit.length-1].issueDate.seconds*1000) | date:['dd-MM-yyyy']}} -->
        <span *ngIf="!(enable2[i])">{{giveDate2(element.insurance[element.insurance.length-1].issueDate.seconds*1000) | date:['dd-MM-yyyy']}}</span>
          <mat-form-field *ngIf="enable2[i]" class="big">
              <input matInput [formControl]="date2" readonly  id="{{i+'from'}}"  [matDatepicker]="picker3" [value]="''">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field><br>
            <ng-container *ngIf="!(valid(element.insurance[element.insurance.length-1].expireDate.seconds*1000))"> <span *ngIf="enable2[i]">{{giveDate2(element.insurance[element.insurance.length-1].issueDate.seconds*1000) | date:['dd-MM-yyyy']}}</span></ng-container>
      </td>
    </ng-container>
  

    <ng-container matColumnDef="expire">
      <th mat-header-cell *matHeaderCellDef> Valid Till </th>
      <td mat-cell *matCellDef="let element;let i=index;">
        
          <!-- {{giveDate2(element.permit[element.permit.length-1].expireDate.seconds*1000) | date:['dd-MM-yyyy']}} -->
          <span *ngIf="!(enable2[i])"> {{giveDate2(element.insurance[element.insurance.length-1].expireDate.seconds*1000) | date:['dd-MM-yyyy']}}</span>
          <mat-form-field *ngIf="enable2[i]" class="big">
              <input matInput [formControl]="date2" readonly  [matDatepicker]="picker3" id="{{i+'till'}}" [value]="''" >
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field><br>
            <ng-container *ngIf="!(valid(element.insurance[element.insurance.length-1].expireDate.seconds*1000))"> <span *ngIf="enable2[i]">{{giveDate2(element.insurance[element.insurance.length-1].expireDate.seconds*1000) | date:['dd-MM-yyyy']}}</span></ng-container>
      </td>
    </ng-container>


    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Change </th>
      <td mat-cell *matCellDef="let element;let i=index;">
          <button *ngIf="!(enable2[i])" mat-raised-button (click)="enable2[i]=!(enable2[i])" [color]="valid(element.insurance[element.insurance.length-1].expireDate.seconds*1000) ? 'warn' : 'primary'" >
              {{valid(element.insurance[element.insurance.length-1].expireDate.seconds*1000) ? 'Renew' : 'Update'}}
          </button>
          <button *ngIf="(enable2[i])" mat-mini-fab (click)="checkData(i,valid(element.insurance[element.insurance.length-1].expireDate.seconds*1000),element.$key,'vi')" color="primary">
              <mat-icon>done</mat-icon>
          </button>
          <button mat-mini-fab *ngIf="(enable2[i])" id="cancel" color="warn" (click)="enable2[i]=!(enable2[i])"> <mat-icon>close</mat-icon> </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
  </table>
 </ng-container>
</ng-container>









<ng-container *ngIf="isPermit">
    <p style="text-align: center;color: red" *ngIf="!(admin)">You do not have permission to see content here</p>
  <table *ngIf="admin" mat-table [dataSource]="dataSource3" class="mat-elevation-z8"  [border]="(isHandset$ | async) ? '1' : '0'" >

    
    <!-- Machine Id Column -->
    <ng-container matColumnDef="vehicleName">
      <th mat-header-cell *matHeaderCellDef> Vehicle </th>
      <td mat-cell *matCellDef="let element"> {{element.vehicleNumber}} </td>
    </ng-container>
  
    <!-- Total Hour Column -->
    <ng-container matColumnDef="insurance">
      <th mat-header-cell *matHeaderCellDef> Permit </th>
      <td mat-cell *matCellDef="let element;let i=index;">
         <!-- {{element.permit[element.permit.length-1].type}} -->
         <span *ngIf="!(enable2[i])">{{element.permit[element.permit.length-1].type}}</span>
         <mat-form-field *ngIf="(enable2[i])" class="small">
             <input matInput maxlength="3" (keypress)="alphaOnly($event)" id="{{i+'type'}}" [value]="!(valid(element.permit[element.permit.length-1].expireDate.seconds*1000)) ? element.permit[element.permit.length-1].type:''">
         </mat-form-field><br>
         <ng-container *ngIf="!(valid(element.permit[element.permit.length-1].expireDate.seconds*1000))"> <span *ngIf="enable2[i]">{{element.permit[element.permit.length-1].type}}</span></ng-container>
      </td>
    </ng-container>

    <!-- Remain columns are for showing previous 7 days entry -->

    <ng-container matColumnDef="issue">
      <th mat-header-cell *matHeaderCellDef> Valid From </th>
      <td mat-cell *matCellDef="let element;let i=index;">
        <!-- {{giveDate2(element.permit[element.permit.length-1].issueDate.seconds*1000) | date:['dd-MM-yyyy']}} -->
        <span *ngIf="!(enable2[i])">{{giveDate2(element.permit[element.permit.length-1].issueDate.seconds*1000) | date:['dd-MM-yyyy']}}</span>
          <mat-form-field *ngIf="enable2[i]" class="big">
              <input matInput [formControl]="date2" readonly  id="{{i+'from'}}" [matDatepicker]="picker3" [value]="''">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field><br>
            <ng-container *ngIf="!(valid(element.permit[element.permit.length-1].expireDate.seconds*1000))"> <span *ngIf="enable2[i]">{{giveDate2(element.permit[element.permit.length-1].issueDate.seconds*1000) | date:['dd-MM-yyyy']}}</span></ng-container>
      </td>
    </ng-container>
  

    <ng-container matColumnDef="expire">
      <th mat-header-cell *matHeaderCellDef> Valid Till </th>
      <td mat-cell *matCellDef="let element;let i=index;">
        
          <!-- {{giveDate2(element.permit[element.permit.length-1].expireDate.seconds*1000) | date:['dd-MM-yyyy']}} -->
          <span *ngIf="!(enable2[i])"> {{giveDate2(element.permit[element.permit.length-1].expireDate.seconds*1000) | date:['dd-MM-yyyy']}}</span>
          <mat-form-field *ngIf="enable2[i]" class="big">
              <input matInput [formControl]="date2" readonly  [matDatepicker]="picker3" id="{{i+'till'}}" [value]="''" >
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field><br>
            <ng-container *ngIf="!(valid(element.permit[element.permit.length-1].expireDate.seconds*1000))"> <span *ngIf="enable2[i]">{{giveDate2(element.permit[element.permit.length-1].expireDate.seconds*1000) | date:['dd-MM-yyyy']}}</span></ng-container>
      </td>
    </ng-container>


    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Change </th>
      <td mat-cell *matCellDef="let element;let i=index;">
          <button *ngIf="!(enable2[i])" mat-raised-button (click)="enable2[i]=!(enable2[i])" [color]="valid(element.permit[element.permit.length-1].expireDate.seconds*1000) ? 'warn' : 'primary'" >
              {{valid(element.permit[element.permit.length-1].expireDate.seconds*1000) ? 'Renew' : 'Update'}}
          </button>
          <button *ngIf="(enable2[i])" mat-mini-fab (click)="checkData(i,valid(element.permit[element.permit.length-1].expireDate.seconds*1000),element.$key,'vp')" color="primary">
              <mat-icon>done</mat-icon>
          </button>
          <button mat-mini-fab *ngIf="(enable2[i])" id="cancel" color="warn" (click)="enable2[i]=!(enable2[i])"> <mat-icon>close</mat-icon> </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
  </table>
</ng-container>

