.mat-grid-list
{
  top: 2px;
  bottom: 1px;
}
.header
{
  color: white!important;
  background: rgb(0, 0, 0)!important;
  pointer-events:none;
  text-align: center;
  font-size: 24px;
  word-break: break-all;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.mat-grid-tile:hover
{
 background: rgb(0, 0, 0)!important;
}

@media(max-width: 550px)
{
  .header
  {
    font-size: 15px;
    text-align: start;
  }
}
@media(max-width: 350px)
{
  .header
  {
    font-size: 10px;
    text-align: start;
  }
}

.color1C1
{
  background: rgb(41, 41, 41)!important; 
  transition: background-color 1.5s;
}


.color2C1
{
  background: rgba(41, 41, 41, 0.856)!important; 
  transition: background-color 1.5s;
}

.color3C1
{
  background: rgba(41, 41, 41, 0.698)!important; 
  transition: background-color 1.5s;
}

.color4C1
{
  background: rgba(41, 41, 41, 0.52)!important; 
  transition: background-color 1.5s;
}
.radius
{
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}
a{
  color: white;
}

.login-box{
  background-image: url(../../../assets/bg3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-attachment:fixed;
}