<div class="title">{{isPending ? 'Pending Permit': isDetails ? 'Permit Details': isEntry ? 'Permit Entry': 'Ooops Error'}}</div>

<ng-container *ngFor="let data of vehicle.vehicleList;let i=index">
<table  align="center" id="customers">
  <th colspan="5">{{data.vehicleNumber}}</th>
  <tr >
    <td>Permit</td>
    <td>Amount</td>
    <td>Valid From</td>
    <td>Valid Till</td>
    <td>Status</td>
  </tr>
  <ng-container *ngFor="let element of data.permit" >
  <tr *ngIf="!isPending">
        <td>{{element.type}}</td>
        <td>{{element.amount}}</td>
        <td>{{giveDate(element.issueDate.seconds*1000) | date:['dd-MM-yyyy']}}</td>
        <td>{{giveDate(element.expireDate.seconds*1000) | date:['dd-MM-yyyy']}}</td>
        <td>
            <button *ngIf="isEntry" [disabled]="!admin" mat-raised-button [color]="valid(element.expireDate.seconds*1000) ? 'warn':'primary'" (click)="remove(element.type,element.amount,element.issueDate,element.expireDate,data.$key)">Delete</button>
            <span *ngIf="!isEntry" mat-mini-fab [ngClass]="valid(element.expireDate.seconds*1000) ? 'red':'green'" >{{valid(element.expireDate.seconds*1000) ? 'Expired':'Valid'}}</span>
        </td>
  </tr>
  <ng-container *ngIf="isPending">
  <tr *ngIf="valid(element.expireDate.seconds*1000)">
        <td>{{element.type}}</td>
        <td>{{element.amount}}</td>
        <td>{{giveDate(element.issueDate.seconds*1000) | date:['dd-MM-yyyy']}}</td>
        <td>{{giveDate(element.expireDate.seconds*1000) | date:['dd-MM-yyyy']}}</td>
        <td>
            <span mat-mini-fab [ngClass]="valid(element.expireDate.seconds*1000) ? 'red':'green'" >{{valid(element.expireDate.seconds*1000) ? 'Expired':'Valid'}}</span>
        </td>
  </tr>
</ng-container>
</ng-container>
<ng-container *ngIf="admin">
  <tr class="white" *ngIf="isEntry">
    <td>
      <mat-form-field *ngIf='enable[i]'>
          <input matInput maxlength="4" (keypress)="alphaOnly($event)"  id="{{'permit'+i}}">
      </mat-form-field>
    </td>
    <td>
        <mat-form-field *ngIf='enable[i]'>
            <input matInput maxlength="8" (keypress)="numberOnly($event)" id="{{'amount'+i}}">
        </mat-form-field>
    </td>
    <td>
        <mat-form-field  class="big" *ngIf='enable[i]'>
            <input matInput [formControl]="date2" readonly   [matDatepicker]="picker3" id="{{'from'+i}}" [value]="''" >
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
    </td>
    <td>
        <mat-form-field  class="big" *ngIf='enable[i]'>
            <input matInput [formControl]="date2" readonly   [matDatepicker]="picker3" id="{{'till'+i}}" [value]="''" >
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
    </td>
    <td>
        <button mat-raised-button color="primary" *ngIf='!(enable[i])' (click)="enable[i]=!enable[i]" >Add </button>
        <button mat-mini-fab color="primary" *ngIf='(enable[i])' (click)="check(i,data.$key)" ><mat-icon>done</mat-icon></button>
        <button mat-mini-fab color="warn" *ngIf='(enable[i])' (click)="enable[i]=!enable[i]" id="cvp" ><mat-icon>clear</mat-icon></button>
    </td>
  </tr>
</ng-container>
</table>

</ng-container>