.login-box{
    background-image: url(../../assets/bg3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.pic {
           
    width:  30vh;
    height: 30vh ;
    margin: auto;
 ion-img {
      height: 110px ;
      width: 110px; 
      left: 50%;    
      margin: auto auto;   
      padding-top: 10px;
      background: rgba(0, 0, 0, 0);     
   }
}
ion-row{
    width: 100%;
}
ion-col{
    width: 100%;
}
ion-list{
    background: rgba(0, 0, 0, 0) !important;
}
ion-item{
    background: rgba(0, 0, 0, 0) !important;
}
.placeholder{
    color: yellow;
}

button:disabled{
    background-color: #4d686b;
}

button{
    border-radius: 25px;
    width: 100%;
    height: 35px;
    background-color: #0cd1e8;
    color: white;
    
}

.item-content
{
    background: black !important;
    width: 100%;
}

.machine-form
{
    background:rgba(205, 224, 136, 0.603);
    padding: 10px 10px;
    margin: 5px 5px;
    border-radius: 10px;
    
}
