.mat-raised-button
{
    width: 100%;
    height:45px;
    font-size:25px;
    border-radius: 25px;
    font-family: Poppins-Regular; 
    background-color: rgba(23, 87, 190, 0.986)
}
.mat-raised-button:hover
{
      background-color: #0ea709;
      box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
      -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
      -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
      -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
      -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
      width: 100%;
      font-size:25px;
      font-family: Poppins-Regular;   
      border-radius: 25px;
}
.mat-mini-fab
{
    margin: auto auto;
}